@model ProductListViewModel //yol
@{//buranın layoultla alakası yok
    var popularClass=Model.Products.Count>2?"popular":""; 
    var products=Model.Products;
}

    
@* @section Categories{
   @await Component.InvokeAsync("Categories")
} *@

<div class="row">
    <div class="col-md-3"> @*üçlük kısma category gelsin*@
           @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
       <div class="row">
              
                    <div class="row">                  
                        @foreach (var product in products)
                        {    
                        <div class="col-md-4">
                            @await Html.PartialAsync("_product",product) @* dinamik olduğu için obje bejler bende product u veririm*@
                            @* Listeden gelen her product objesini _productcshtml e gönderiyoruz ve gönderdiğimiz obje product prodyccshtml tarafından karşılanıyor ve karşılanan bilgi içerinden modelname desc yazdırılır *@
                        </div>       
                        }   
                    </div>
        </div>      
    </div>
</div>

        
             

